<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Hello, world.</title>
  </head>
  <body>
    <h1>Hello, world.</h1>
    <div th:text="'System Property: ' + ${systemPropertyMessage}"></div>
    <div th:text="'application.yml: ' + ${applicationYamlMessage}"></div>
    <div><img src="./assets/sample-300x300.jpg"></div>

    <form action="/db/add" method="post">
      <input type="hidden" name="messageinputmode" th:value="${messageInputMode}">
      <input type="hidden" name="message_id" th:value="${messageId}">
      <div>
        <div>
          <span th:if="${messageInputMode == 'UPDATE'}"><a href="/">[Cancel Edit]</a></span><br>
          <span th:text="'Mode: ' + ${messageModeText}"></span><br>
          <span>Message : <input type="text" name="message" size="50" th:value="${messageTextValue}"></span>
        </div>
        <div>
          <input type="submit" value="Submit"><input type="reset" value="Reset" onClick="window.location.reload()">
        </div>
      </div>
    </form>
    <br><br>

    <div th:text="'TOTAL: ' + ${messageTotalCount} + ' Records'"></div>
    <form action="/db/removemessages" method="post">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>ID</th>
          <th>Message</th>
          <th>Date Updated</th>
          <th>Date Created</th>
        </tr>
        <td>
          <tr th:each="item: ${messageSample}">
            <td> <a th:text="[Edit]" th:href="@{|/?message_id=${item.message_id}|}"></td>
            <td><input type="checkbox" th:id="'message_checkbox_' + ${item.message_id}" name="message_checkbox" th:value="${item.message_id}"></td>
            <td th:text="${item.message_id}"></td>
            <td th:text="${item.message}"></td>
            <td th:text="${item.updated_date}"></td>
            <td th:text="${item.created_date}"></td>
          </tr>
        </td>
      </table>
      <input type="submit" value="Remove">
    </form>

  </body>
</html>
